{% include 'navbar.html'%}


{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}


{% block content %}
<div class="container">
        <div class="row">
                <div class="jumbotron">
                                {{wtf.quick_form(form)}}
                                {{simplemde.load}}
                </div>
        </div>
</div>
        
        
<div class="row">
        <div class="container">
                <div class="col-md-12" style="background-color: #5bc0de">
                                {{ macro.displayComment(comment) }}

                </div>
                 
        </div>
        
</div>
	
	
{% endblock %}