{% macro display(category_list) %}
<div class="row">
	{% if category_list %}
		{% for category in category_list %}
		<div class="col-md-4">
			<div class="thumbnail text-center">
			<h5 class="card-header">{{category.category}}</h5>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<h2>{{category.description}}</h2>
					<footer class="blockquote-footer"> Posted by {{category.user.username}}</footer>
				</blockquote>
				<a href="{{url_for('main.upvote', id = category.id)}}"><span class="badge">{{category.upvotes}}</span> Upvotes</a>
				<p><span class="badge">{{category.downvotes}}</span>Downvotes</p>
				<a href="{{url_for('main.new_comment',pitch_id = category.id)}}" class="btn btn-info"> Add a comment</a>
				<a href="pitch/upvote" class="btn btn-primary">vote</a>

			</div>
		</div>

		</div>
		
		{% endfor %}
	{% else %}
	{% endif %}
</div>
{% endmacro %}



{% macro displayComment(comments) %}
<ul>
			{% if comments %}
			{% for comment in comments %}
				<div class="thumbnail">
					<a href="#">
						<div>
						</div>
						<h4>{{ comment.description }}</h4>
						<small> posted by {{comment.user.username}}</small>
					</a>
				</div>
			{% endfor %}
			{% else %}

			<h3>No comments for this post!!</h3>
			{%endif%}

	</ul>






{% endmacro %}